[submodule "system/raspberry_pico/pico-sdk"]
	path = system/raspberry_pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "system/raspberry_pico_w/pico-sdk"]
	path = system/raspberry_pico_w/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pythonAnimations/pocketpy"]
	path = pythonAnimations/pocketpy
	url = https://github.com/blueloveTH/pocketpy.git
[submodule "pythonAnimations/py_implementation/micropython"]
	path = pythonAnimations/py_implementation/micropython
	url = https://github.com/micropython/micropython
[submodule "system/raspberry_pico_w/lib/picow-http"]
	path = system/raspberry_pico_w/lib/picow-http
	url = https://gitlab.com/slimhazard/picow_http.git
[submodule "system/raspberry_pico_w/littlefs-lib"]
	path = system/raspberry_pico_w/littlefs-lib
	url = https://github.com/lurk101/littlefs-lib.git
